# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
*.log.*

# Env files (ne JAMAIS commiter les vraies clés)
.env
.env.*
!*.example

# Build outputs
dist/
build/
*.tsbuildinfo

# Editor junk
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/
